.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  text-align: left;
  font-size: large;
}

.App-prepareForm
{
  /*text-align: left;*/
  font-size: large;
  margin: auto;
}

.App-validationErrorDiv
{
  font-size: large;
  color: red;
  font-weight: bold;
}

.App-displayTotalDiv
{
  font-size: large;
  font-weight: bold;
}

.App-preparedProposalDiv
{
  width: 61.8%;
  margin: auto;
  word-wrap: break-word;
  font-size: medium;
  background-color: #f0f0f0;
}
